 <!-- Zone principale -->
         
 <div class="grid-layout">
    <!-- Définition des blocs avec leur position spécifique -->
    <div class="grid-item" style="grid-column: span 5; grid-row: span 1;">Block 1</div>
    <div class="grid-interior-1" style="grid-column: span 4; grid-row: span 1;">
        <div class="grid-item" style="grid-column: span 2; grid-row: span 1;">Block 7</div>
        <div class="grid-item" style="grid-column: span 2; grid-row: span 1;">Block 8</div>
        <div class="grid-item" style="grid-column: span 4; grid-row: span 1;">Block 9</div>
    </div>
    <div class="grid-item" style="grid-column: span 3; grid-row: span 1;">Block 3</div>
    <div class="grid-item" style="grid-column: span 3; grid-row: span 1;">Block 4</div>
    <div class="grid-item" style="grid-column: span 3; grid-row: span 1;">Block 5</div>
    <div class="grid-interior-1" style="grid-column: span 6; grid-row: span 1;">
        <div class="grid-item" style="grid-column: span 3; grid-row: span 1;">Block 10</div>
        <div class="grid-item" style="grid-column: span 3; grid-row: span 1;">Block 11</div>
        <div class="grid-item" style="grid-column: span 6; grid-row: span 1;">Block 12</div>
    </div>
</div>